# Node.js dependencies
node_modules/

# Environment variables
.env

# others directories
reference-documents/

# some files
src/controllers/roleAccess.js
src/controllers/roleAccess.controller.js

.vercel
